@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
}
canvas.splinecanvas {
  background: transparent !important;
  pointer-events: none; /* Agar foydalanuvchi hech narsa bilan o‘zaro aloqada bo‘lmasin desa */
}
canvas.splinecanvas {
  background: transparent !important;
}
