@import "tailwindcss";

@theme inline {
  --font-orbitron: var(--font-orbitron);
  --font-ibm: var(--font-ibm);
  --color-primary: #07E0B0;
  --color-secondary: #030F0A;
}


body {
  min-width: 330px;
  overflow-x: hidden;
  background-blend-mode: multiply;
  background: #030F0A url('/bg-code.png') no-repeat center/cover;
}

@utility container {
  margin-inline: auto;
  padding-inline: 20px;
  max-width: 1920px;

  @media (max-width: 768px) {
    padding-inline: 10px;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer max-md:text-sm relative border-2 border-primary px-8 py-3 rounded text-white/80 flex gap-2 transition-all bg-secondary;
  }

  .btn:hover span:first-child {
    @apply left-2;
  }

  .btn:hover span:last-child {
    @apply right-2;
  }

  .btn span {
    @apply absolute top-1/2 transition-all -translate-y-1/2;
  }

  .btn span:first-child {
    @apply left-4;
  }

  .btn span:last-child {
    @apply right-4;
  }
}